language: c

install:
  - mkdir -p /tmp/texlive && cd /tmp/texlive && wget https://gist.github.com/urdh/ca8ffcf7cb7c6eace9ad/raw/868fcc950a6c429cc85eb0c8392b0b5b28b03169/texlive.profile
  - wget http://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz && tar -xvf install-tl-unx.tar.gz && cd install-tl-* && sudo ./install-tl --profile=../texlive.profile
  - cd $TRAVIS_BUILD_DIR && export PATH=/usr/local/texlive/CURRENT/bin/x86_64-linux:$PATH
  - sudo /usr/local/texlive/CURRENT/bin/x86_64-linux/tlmgr install babel-swedish babel-ngerman
#  - sudo tlmgr update --self -all
  - sudo apt-get install make automake g++
  - sudo apt-get install libpoppler-glib-dev poppler-utils wxgtk2.8-dev
  - git clone https://github.com/vslavik/diff-pdf.git diff-pdf
  - cd diff-pdf && ./bootstrap && ./configure --prefix=/usr && make && make install

script:
  - make dist
  - make test
