language: c
sudo: false

env:
  global:
    # ctanupload uses these
    - CONTRIBUTION=skrapport
    - NAME="Simon Sigurdhsson"
    - EMAIL="Sigurdhsson@gmail.com"
    - DIRECTORY=/macros/latex/contrib/skrapport
    - SUMMARY="‘Simple’ class for reports, etc"
    - LICENSE=free
    - FREEVERSION=lppl

before_install:
  - mkdir -p $HOME/texlive && curl -L https://github.com/urdh/texlive-blob/releases/download/20160619/texlive.tar.xz | tar -JxC $HOME/texlive

install:
  - PATH=$HOME/texlive/bin/x86_64-linux:$PATH
  - tlmgr update --self --all
  - tlmgr install paratype
  - tlmgr install opensans
  - tlmgr install sourcecodepro
  - tlmgr install ly1
  - tlmgr install xindy
  - tlmgr install mweights
  - tlmgr remove --force skrapport
  # Required by the class
  - tlmgr install kpfonts
  - tlmgr install arev
  - tlmgr install babel-swedish
  - tlmgr install babel-german

script:
  - make dist
  - make test

after_success:
  - ./deploy-ctan.sh skrapport.tar.gz

deploy:
  provider: releases
  api_key:
    secure: euhP+4c1aSJ/Pkf1kqQA05Xs4Z0pdJSKSd+4Ww6h5Px0QiUGkGQPsymYuA3tFiR+VrKz57dUy6ZHNQPOVJ6tgAxvsA5lwoSKnAZbW5LPJ6b9307TVAFJ0LHf5oWzPVzb2W54QmxJiBcP+8sFPX2EeyRtd7qY0SeJ1cSyyj4Q8Qs=
  file: skrapport.tar.gz
  skip_cleanup: true
  on:
    repo: urdh/skrapport
    tags: true
